html{
    background: no-repeat center fixed;
    background-size: cover;
    animation: backgroundChange 30s infinite;
    transition-delay: 5s;
    font-family: Cinzel;
}

@keyframes backgroundChange {
    0% {
        background-image: url('/Img/img1.jpg');
    }
    20% {
        background-image: url('/Img/img2.jpg');
    }
    60% {
        background-image: url('/Img/img3.jpg');
    }
    100% {
        background-image: url('/Img/img1.jpg');
    }
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }
body {
    display: flex;
    padding: 1vw;
    flex-direction: column;
    justify-content: space-between;
}
nav {
    display: flex;
    justify-content: center;
    gap: 5%;
}
nav img, footer img  {
    width: 60px;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 20px;
    padding: 1%;
}
nav img:hover, footer img:hover{
    transform: scale(1.1);
}


footer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    padding-top: 20px;
    gap: 2%
}

section {
    color: azure;
    background-color: rgba(123, 91, 43, 0.901);
    width: 35%;
    border: solid rgb(62, 41, 10) 4px;
    height: 50%;
    border-radius: 5%;
}

input {
    font-family: Cinzel;
    padding: 1%;
    font-size: 100%;
    border: 1px solid #000000;
    border-radius: 4px;
}
button {
    font-family: Cinzel;
    padding: 1%;
    font-size: 100%;
    border: 1px solid #000000;
    border-radius: 4px;
    cursor: pointer;
    background-color: rgb(187, 138, 64);
    transition: all 0.3s ease;
    margin-bottom: 5px;
}

button:hover {
    transform: translateY(-5px);
    background-color: rgb(53, 37, 13);
    color: white;
}

h1{
    margin: 0;
}

#top{
    display: flex;
    flex-direction: column;
    gap: 7%;
    align-items: center;
    justify-content: center;
    height: 45%;
}
#bot{
    height: 55%;
    width: 55%;
}