html{
    background: no-repeat center fixed;
    background-size: cover;
    animation: backgroundChange 30s infinite;
    transition-delay: 5s;
    font-family: Cinzel;
}

@keyframes backgroundChange {
    0% {
        background-image: url('/Img/img1.jpg');
    }
    20% {
        background-image: url('/Img/img2.jpg');
    }
    60% {
        background-image: url('/Img/img3.jpg');
    }
    100% {
        background-image: url('/Img/img1.jpg');
    }
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }
body {
    display: flex;
    padding: 1vw;
    flex-direction: column;
    justify-content: space-between;
}
nav {
    display: flex;
    justify-content: center;
    gap: 5%;
}
nav img, footer img  {
    width: 60px;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 20px;
    padding: 1%;
}
nav img:hover, footer img:hover{
    transform: scale(1.1);
}


footer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    padding-top: 20px;
    gap: 2%
}

section {
    color: azure;
    background-color: rgba(43, 47, 123, 0.658);
    width: 35%;
    border: solid rgb(10, 10, 62) 4px;
    height: 50%;
}

input {
    font-family: Cinzel;
    padding: 1%;
    font-size: 100%;
    border: 1px solid #000000;
    border-radius: 4px;
}
#agregar {
    font-family: Cinzel;
    padding: 1%;
    font-size: 100%;
    border: 1px solid #000000;
    border-radius: 4px;
    cursor: pointer;
    background-color: rgba(247, 255, 101, 0.677);
    transition: all 0.3s ease;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    gap: 10px
}
a{
 text-decoration: none;
 color:antiquewhite
}

ul {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    text-align: center;
    gap: 20;
    padding: 0;
    margin: 0;
    padding: 5%;
}
li{
    display: flex;
    align-items: center;
    list-style: none;
    border:rgb(13, 14, 53), solid, 2px;
    border-radius: 25px;
    padding: 8px;
    max-width: fit-content;
    max-height: fit-content;
    gap: 5px;
    box-shadow: 6px 3px 3px rgba(18, 13, 53, 0.588);
    margin-left: 20%;
}
#ocarina{
    height: 30px;
}
#bomb{
    height: 25px;
    min-height: 100%;
}
#botonElim{
    background-color: transparent;
    border: none;
    border-radius: 100%;
    cursor: pointer;
    padding: 0;
}

#agregar:hover {
    transform: translateY(-5px);
    background-color: rgb(18, 13, 53);
    color: antiquewhite;
}

h1{
    margin: 0;
    color:antiquewhite
}
#titulo {
    display: flex;
    align-items: center;
    gap: 10px
}
input{
    background-color: antiquewhite;
}
#top{
    display: flex;
    flex-direction: column;
    gap: 7%;
    align-items: center;
    justify-content: center;
    height: 45%;
    border-radius: 10px;
}
#bot{
    height: 55%;
    width: 55%;
    overflow-x: hidden;
    overflow-y:auto;
    box-sizing: border-box;
    scrollbar-width: 20px;
    border-radius: 10px;
    scrollbar-color: rgb(103, 108, 2) rgba(247, 255, 101, 0.677);
    padding: 10px;
}

@media screen and (max-width: 720px) {
    html {
        background: transparent;
        animation: backgroundChange none;
    }
    footer, nav {
        display: none;
    }
    h1, img, button, input {
        scale: 0.7;
    }
    main{
        padding: 0;
    }
    #bot {
        overflow-x: auto;
        width: 85%;
    }
    #top {
        width: 60%;
        height: 60%;
        padding: 15px;
    }
    #titulo{
        gap:0;
    }
}